

<!DOCTYPE html>

<html>
<body>

<h2>This is the account page</h2>
<img src="C:\Users\santa\Desktop\Project\ClassProject\wwwroot\images\example.jpg" alt="image not found (I will fix this)"width="500" height="100">
<br/>
<button type="button">Change Photo</button><br/>
<button type="button">Change Password</button><br/>
<button type="button">Change Display Name</button><br/>
<button type="button">Change preferences</button><br/>
<button type="button">Change Email</button><br/>
<button type="button">Delete Account</button><br/>
<div>This will include the links they have added to their account.</div>


</body>
<head>
    <style>
        div {
            
            width: 300px;
            border: 15px solid orange;
            padding: 50px;
            margin: 20px;
        }
    </style>
</head>
</html>

