
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!DOCTYPE html>
<html>
<h2>This is an example page of a rescue organization</h2><br/><br/>

<head>
    <style>
        div {
            
            width: 300px;
            border: 15px solid orange;
            padding: 50px;
            margin: 20px;
        }
    </style>
</head>
<body>

<div>This will include a description. If they have a website it will be included.</div>
</body>
</html>


<a href="https://www.facebook.com/rubysmisfitsanimalrescue/" class="fa fa-facebook"></a>
<a href="#" class="btn btn-primary">Website</a>


