@*@model Core.Mvc.ViewFeatures.IModelExpr*@

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title> Second Chance</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="text-center">
        <h1>Second Chance</h1>
        <h2>Giving a second chance to those who will always put you first</h2>

        <form class="example" action="action_page.php">
            <input type="text" placeholder="Enter Zip Code..." name="search">
            <a class="btn btn-success" asp-action="Result"> Search</a>
        </form>

        @*<a class="btn btn-primary" asp-action="Register"> Register</a><br /><br />*@
    </div>


</body>
</html>