
@{
    ViewData["Title"] = "Result";
}

<h2>This is the Result page</h2>
<h3>You will see the results of the search based on zipcode</h3>
<h4>Below is an example</h4><br/><br/>


<a class="btn" asp-action="Example"> Ruby's Misfits Animal Rescue</a>
<button type="button">Add to preferences</button>





